<div class="back">
  <div class="center">
    <a target="_blank" href="https://github.com/AntoinePoree">
      <i class="fab i fa-github"></i>
    </a>
  </div>

  <div class="center">
    <a target="_blank" href="https://www.linkedin.com/in/antoine-porée/">
      <i class="fab fa-linkedin i linkedin"></i>
    </a>
  </div>

  <div class="center">
    <a target="_blank" href="https://www.linkedin.com/in/thomas-fachinetti/">
      <img class="i imghover" src="assets/logo.png" />
    </a>
  </div>
  <div class="w-100 text-center">
    <span><b translate>thanks</b></span>
  </div>
</div>

<div class="phone">
  <div class="row">
    <a class="col text-center" target="_blank" href="https://github.com/AntoinePoree">
      <i class="fab fa-github img-phone"></i>
    </a>
    <a class="col text-center" target="_blank" href="https://www.linkedin.com/in/antoine-porée/">
      <i class="fab fa-linkedin img-phone linkedin"></i>
    </a>
    <a class="col text-center" target="_blank" href="https://www.linkedin.com/in/thomas-fachinetti/">
      <img class="logo img-phone" src="assets/logo.png" />
      <div class="w-100 text-center">
        <span><b translate>thanks</b></span>
      </div>
    </a>
  </div>
</div>
