@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.logo {
  height: 2rem;
}
.selectedLogo {
  border-radius: 50%;
  border: 2px solid $white;
}

.langue {
  position: fixed;
  z-index: 5000;
  right: 1rem;
}
