<div class="accueil">
  <div class="timer">
    <span class="txttimer" translate="NAME">.</span>
    <span class="txttimer demo ml-0">|</span>
  </div>
</div>
<section>
  <section>
    <ul class="list-unstyled">
      <li class="mb-0">
        <app-some-info></app-some-info>
      </li>
      <li class="li-btn">
        <app-timeline [data]="arrayTimeLine"></app-timeline>
      </li>
      <li class="mb-4">
        <app-complete-info></app-complete-info>
      </li>
      <li class="position-relative li-card">
        <div class="box">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <div class="content">
            <img class="img m-3" src="assets/ant.jpg" alt="Antonio" />
            <p translate>me</p>
          </div>
        </div>
      </li>
      <li *ngIf="!showGameList">
        <p class="text-center"><b translate>more</b></p>
        <div class="container">
          <div class="bg"></div>
          <div class="button" (click)="toggleGameList()"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
        </div>
      </li>
      <li class="appear" *ngIf="showGameList">
        <app-game-list></app-game-list>
      </li>
      <li *ngIf="showGameList" class="mt-5 mb-5">
        <div class="container">
          <div class="bg-red"></div>
          <a class="button" href="assets\CV Antoine.pdf" target="_blank"
            ><i class="fa fa-heart heart" aria-hidden="true"></i
          ></a>
        </div>
        <!-- <p class="text-center"><b translate>soon</b></p> -->
      </li>
    </ul>
  </section>
</section>
