<div class="accueil">
  <div class="timer">
    <span class="txttimer" translate="NAME">.</span>
    <span class="txttimer demo ml-0">|</span>
  </div>
</div>
<section>
  <section>
    <ul class="list-unstyled">
      <li class="mb-4">
        <app-some-info></app-some-info>
      </li>
      <li>
        <app-game-list></app-game-list>
      </li>
      <li>
        <app-timeline [data]="arrayTimeLine"></app-timeline>
      </li>
      <li class="mb-5">
        <app-complete-info></app-complete-info>
      </li>
      <li class="flex">
        <div class="card" [ngStyle]="{ width: '18rem' }">
          <img class="img m-3" src="assets/ant.jpg" alt="Antonio" />
          <div class="card-body">
            <p class="card-text" translate>me</p>
          </div>
        </div>
      </li>
    </ul>
  </section>
</section>
