@import "src/theme/theme-variables";

section {
  background-color: $gray-100;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  padding-top: 5rem;
  padding-right: 35%;
  box-shadow: 0 -14px 20px 2px grey;
}

.container {
  flex-direction: column;
}
