<div class="background">
  <section>
    <h1 class="pb-5" translate>web</h1>
    <div class="container">
      <a href="https://www.16personalities.com/fr/la-personnalite-enfp" target="_blank" rel="noopener noreferrer">
        <h3 class="text-right pb-3 pt-2" translate>Inspirateur</h3>
      </a>
      <h3 class="text-left pb-3" translate>Curieux</h3>
      <h3 class="text-center pb-5" translate>Positivité</h3>
      <p class="text-center mb-0">
        #JavaScript <em><b>#Angular 8</b></em> #React #Redux #Typescript #NodeJS #MEAN #ExpressJs
      </p>
    </div>
  </section>
</div>
