@import "src/theme/theme-variables";

@media screen and (max-width: 900px) {
  section {
    border-radius: 0 0 12% 0;
  }
}

@media screen and (min-width: 900px) {
  section {
    border-radius: 25%;
  }
}

section {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid $gray-200;
  box-shadow: 0 -14px 20px 2px grey;
}
.background {
  width: 100%;
  height: 100%;
  background-color: $gray-100;
}

h1 {
  text-align: center;
  padding-top: 5rem;
  padding-right: 35%;
  background-color: $gray-100;
  box-shadow: 0 -14px 20px 2px grey;
}

a {
  color: $gray-700;
}

.container {
  flex-direction: column;
}
