<div class="background">
  <section>
    <h1 class="pb-5" translate>web</h1>
    <div class="container">
      <h3 class="text-center pb-5" translate>define</h3>
      <h3 class="text-left pb-3 pt-2">
        <a href="https://www.16personalities.com/fr/la-personnalite-enfp" target="_blank" rel="noopener noreferrer">
          <span class="borderbot" translate>Inspirateur</span>
        </a>
      </h3>
      <h3 class="text-center pb-3" translate>Curieux</h3>
      <h3 class="text-right pb-5" translate>Positivité</h3>
      <h3 class="text-center pb-3" translate>techno</h3>
      <p class="text-center mb-4">
        <span> #JavaScript </span>
        <span
          ><em><b>#Angular 8</b></em></span
        >
        <span>#Typescript</span>
      </p>
      <p class="text-center mb-4">
        <span>#NodeJS</span>
        <span>#React</span>
        <span>#Redux</span>
      </p>
      <p class="text-center mb-3">
        <span>#MEAN</span>
        <span>#ExpressJs</span>
      </p>
    </div>
  </section>
</div>
